---
import ContactForm from "@/components/contact-form.astro";
import MainContent from "@/components/main-content.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { processMdx } from "@/lib/content/mdx";
import { reader } from "@/lib/content/reader";

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;

const page = await reader().collections.pages.readOrThrow("contact");

const documentTitle = page.title;
const { title } = page;
const { default: Content } = await processMdx(await page.content(), locale);
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent class="py-8">
		<PageSection>
			<PageTitle>{title}</PageTitle>

			<div class="prose prose-neutral">
				<Content />
			</div>

			<div class="py-4">
				<ContactForm />
			</div>
		</PageSection>
	</MainContent>
</PageLayout>
