---
import "@fontsource-variable/inter/standard.css";
import "@fontsource-variable/inter/standard-italic.css";
import "tailwindcss/tailwind.css";
import "@/styles/index.css";

import type { Locale } from "@/config/i18n.config";
import { createI18n } from "@/lib/i18n/create-i18n";

interface Props {
	locale: Locale;
	title: string;
}

const { locale, title } = Astro.props;

const { t } = await createI18n(locale);
---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light" />

		<title>{[title, t("metadata.title")].join(" | ")}</title>
	</head>

	<body>
		<slot />
	</body>
</html>
